name: Forex Analysis

on:
  schedule:
    - cron: '10 0,4,8,12,16,20 * * *'
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: npm install dotenv
    
    - name: Run Analysis
      env:
        TWELVEDATA_API_KEY_DAILY: ${{ secrets.API_KEY_DAILY }}
        TWELVEDATA_API_KEY_H4: ${{ secrets.API_KEY_H4 }}
      run: node forex-analysis.js
